@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.title{
    
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.img{
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.img:hover{
    transform: scale(1.20);

}

.card{
    width: 200px;
    height: auto;
    background-color: rgb(200, 161, 134);
    border-radius: 5px;
}